@import url(https://fonts.googleapis.com/css?family=Karla:400);
body {
  color: #1F1E21;
  font-family: 'Karla', sans-serif; }
  body a {
    color: inherit; }

h1 {
  font-size: 40px;
  font-weight: 400; }

h2 {
  font-weight: 400; }

button {
  padding: 15px 36px;
  border: 0px;
  border-radius: 50px;
  color: white;
  background-color: #1F1E21;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px; }
  button:hover {
    background-color: #DE517E; }

input {
  padding: 12px 24px;
  border: 1px solid #1F1E21;
  border-radius: 50px;
  font-family: 'Karla', sans-serif;
  font-size: 1.0em; }
  input:hover, input:focus {
    outline: none;
    border: 1px solid #DE517E; }

fieldset {
  padding: 0px;
  border: 0px;
  margin: 10px 0; }

.stella-page-landing main {
  max-width: 560px;
  width: 100%;
  margin: 0 auto; }

.stella-page-landing footer {
  margin: 40px 0;
  text-align: center;
  color: #ccc; }
  .stella-page-landing footer a {
    color: inherit; }

.stella-page-landing section {
  margin: 60px 0; }

.stella-page-landing form {
  text-align: center; }
  .stella-page-landing form button, .stella-page-landing form input {
    margin: 4px 0; }

.stella-page-landing h1, .stella-page-landing h2, .stella-page-landing fieldset {
  text-align: center; }

.stella-page-landing .stella-logo {
  display: block;
  width: 140px;
  height: 140px;
  margin: 40px auto 20px auto; }
