<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stella</title>
  <link rel="stylesheet" href="css/style.css">
  <!-- Google Analytics -->
  <script>
    {{{ state }}}
  </script>
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-79174129-1', 'auto');
  ga('set', 'expId', experiment_id);
  ga('set', 'expVar', experiment_variant);
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async type="text/javascript" src="js/script.js"></script>
  <!-- End Google Analytics -->
</head>
<body class="stella-page-landing">
  <main>
    <section>
      <img src="../../img/stella-logo-bot.png" alt="stella logo" class="stella-logo" />
      <h1>I’m Stella, a <a href="https://slack.com/">slack</a> bot that helps you schedule meetings.</h1>
    </section>
    <section>
      <h2>Be the first to invite me to your team when I’m ready:</h2>
      <form id="stella-email-form" action="/signup">
        <div class="stella-validated-field">
          <input id="stella-email-form-field" type="text" placeholder="email" name="email">
          <button id="stella-cta-button">Submit</button>
          <div class="stella-validated-field-message-container">
            <p id="stella-email-form-validation-alert" class="stella-validated-field-message-alert hidden">
              Please submit a valid email.
            </p>
          </div>
          <div class="stella-validated-field-message-container">
            <p id="stella-email-form-validation-success" class="stella-validated-field-message-success hidden">
              Thanks! We added you to our list.
            </p>
          </div>
        </div>
      </form>
      <p class="stella-affirm">We promise never to share your data with anyone.</p>
    </section>
  </main>
  <footer>
    <p><a href="/contact">contact</a></p>
  </footer>
</body>
</html>
