button {
  padding: 15px 36px;
  border: 0px;

  border-radius: 50px;
  color: white;
  background-color: $stella-color-text;
  cursor: pointer;

  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    background-color: $stella-color-primary-dark;
  }
  &:focus {
    outline: 0px;
  }
}
