@import url(https://fonts.googleapis.com/css?family=Karla:400);

body {
  color: $stella-color-text;
  font-family: 'Karla', sans-serif;
  a {
    color: inherit;
  }
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}
